body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/img0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-box {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 380px;
    text-align: center;
}
input[type="file"],
input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button {
    background-color: #5bc0de;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #46b8da;
}
input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Modal styling */
.modal {
    display: none;
    align-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input[type="radio"] {
    margin-right: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}